/* Register.css */


/* Apply background image and styling to the container */
.register-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('src/assets/logo.png'); */
    /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #001F3F;
}

.register-container img {
    width: 500px;
    /* Adjust the width of the logo */
}

/* Form Styling */
form {
    background-color: rgba(255, 255, 255, 0.7);
    /* Semi-transparent background for the form */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-blue-700 {
    --tw-bg-opacity: 1;
    background-color: #001F3F;
}